---
// ModuleRenderer dispatches on module.__typename to render the matching
// Astro component, mirroring src/templates/contentful-page.jsx.
import MainSection from './MainSection.astro'
import AsideSection from './AsideSection.astro'
import ContentBox from './ContentBox.astro'
import MainGrid from './MainGrid.astro'
import Quote from './Quote.astro'
import TileGrid from './TileGrid.astro'
import TileList from './TileList.astro'
import EmployeeTile from './EmployeeTile.astro'
import ProductGroup from './ProductGroup.astro'
import HeroBlock from './HeroBlock.astro'
import ModuleRenderer from './ModuleRenderer.astro'

interface Image {
  src: string
  width: number
  height: number
  title?: string
  description?: string
}

interface Module {
  __typename: string
  id: string
  [key: string]: unknown
}

interface SectionModule extends Module {
  __typename: 'ContentfulAbschnitt'
  volleBreite: boolean
  inhalte: Module[]
  seitenabschnitt?: Module
}

interface TextModule extends Module {
  __typename: 'ContentfulTextinhalt'
  textHtml: string
}

interface QuoteModule extends Module {
  __typename: 'ContentfulZitat'
  zitat: string
}

interface CardLayoutModule extends Module {
  __typename: 'ContentfulKartenLayout'
  titel?: string
  layout?: string
  elemente: Module[]
}

interface EmployeeModule extends Module {
  __typename: 'ContentfulMitarbeiter'
  name: string
  dienstbereich?: string
  foto?: Image
}

interface ProductGroupModule extends Module {
  __typename: 'ContentfulProduktgruppe'
  name: string
  beschreibung?: string
  beispiele?: string[]
  foto?: Image
}

interface HeroBlockModule extends Module {
  __typename: 'ContentfulHeroBlock'
  hauptueberschrift: string
  unterueberschrift?: string
  callToAction?: { text: string }
  bild?: Image
}

interface Props {
  module: Module
}

const { module: mod } = Astro.props

const isSection = mod.__typename === 'ContentfulAbschnitt'
const isText = mod.__typename === 'ContentfulTextinhalt'
const isQuote = mod.__typename === 'ContentfulZitat'
const isCardLayout = mod.__typename === 'ContentfulKartenLayout'
const isEmployee = mod.__typename === 'ContentfulMitarbeiter'
const isProductGroup = mod.__typename === 'ContentfulProduktgruppe'
const isHeroBlock = mod.__typename === 'ContentfulHeroBlock'

const section = isSection ? (mod as unknown as SectionModule) : null
const text = isText ? (mod as unknown as TextModule) : null
const quote = isQuote ? (mod as unknown as QuoteModule) : null
const cardLayout = isCardLayout ? (mod as unknown as CardLayoutModule) : null
const employee = isEmployee ? (mod as unknown as EmployeeModule) : null
const productGroup = isProductGroup ? (mod as unknown as ProductGroupModule) : null
const heroBlock = isHeroBlock ? (mod as unknown as HeroBlockModule) : null
---

{
  isHeroBlock && heroBlock && (
    <HeroBlock
      mainHeadline={heroBlock.hauptueberschrift}
      subHeadline={heroBlock.unterueberschrift}
      callToAction={heroBlock.callToAction?.text}
      image={heroBlock.bild}
    />
  )
}

{
  isSection && section && (
    section.volleBreite ? (
      <MainSection fullWidth darkBackground>
        <MainGrid>
          {section.inhalte[0] && <ModuleRenderer module={section.inhalte[0]} />}
        </MainGrid>
      </MainSection>
    ) : (
      <>
        <MainSection>
          {section.inhalte[0] && <ModuleRenderer module={section.inhalte[0]} />}
        </MainSection>
        {section.seitenabschnitt && (
          <AsideSection>
            <ModuleRenderer module={section.seitenabschnitt} />
          </AsideSection>
        )}
      </>
    )
  )
}

{isText && text && <ContentBox set:html={text.textHtml} />}

{
  isQuote && quote && <Quote text={quote.zitat} />
}

{
  isEmployee && employee && (
    <EmployeeTile name={employee.name} department={employee.dienstbereich} photo={employee.foto} />
  )
}

{
  isProductGroup && productGroup && (
    <ProductGroup
      name={productGroup.name}
      description={productGroup.beschreibung}
      examples={productGroup.beispiele}
      photo={productGroup.foto}
    />
  )
}

{
  isCardLayout && cardLayout && (
    <ContentBox>
      {cardLayout.titel && <h2>{cardLayout.titel}</h2>}
      {cardLayout.layout === 'Gitter' ? (
        <TileGrid>
          {cardLayout.elemente.map(element => (
            <li><ModuleRenderer module={element} /></li>
          ))}
        </TileGrid>
      ) : (
        <TileList>
          {cardLayout.elemente.map(element => (
            <li><ModuleRenderer module={element} /></li>
          ))}
        </TileList>
      )}
    </ContentBox>
  )
}
